<div :class="[{'bbn-full-screen': true, 'bbn-padded': true, 'bbn-middle': true}, componentClass]"
>
  <div class="loader-animation">
    <div class="sk-cube-grid" v-show="minHeight">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
    <h1 :class="'dots ' + fontClass">Loading<span>.</span><span>.</span><span>.</span></h1>

  </div>
</div>
