<div class="bbn-iblock bbn-radio">
  <div :class="{'bbn-iblock': !vertical, 'bbn-nl': vertical}"
       v-for="(d, idx) in dataSource"
  >
    <input :value="d.value"
           :name="name"
           class="k-radio"
           type="radio"
           :disabled="disabled"
           :required="required"
           :id="id + '_' + idx"
					 @change="changed(d.value)"
           :checked="d.value === modelValue"
    >
    <label class="k-radio-label"
           v-text="d.text"
           :for="id + '_' + idx"
    ></label>
		<div v-if="dataSource[idx+1] && getSeparator"
         :class="{
          'bbn-w-100': vertical,
          'bbn-iblock': !vertical
          }"
         v-html="getSeparator">
		</div>
  </div>
</div>