<span class="k-textbox bbn-input">
  <input v-model.trim="value"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($event.target.value)"
         @click="click($event)"
         @focus="focus($event)"
         @blur="blur($event)"
         @change="change($event)"
         @keydown="keydown($event)"
         @keyup="keyup($event)"
         @mouseenter="over($event)"
         @mouseleave="out($event)"
  >
</span>