<?php
return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR1' => true,
        'strict_param' => false,
        'array_syntax' => ['syntax' => 'short'],
        'braces' => [
            'allow_single_line_closure' => false, 
            'position_after_functions_and_oop_constructs' => 'next'],
    ])
    ->setIndent('  ');