<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/3.7/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false">
  <testsuites>
    <testsuite name="Classes">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="BBN_APP_PATH" value="./" />
    <const name="BBN_APP_NAME" value="Testing" />
    <const name="BBN_DATA_PATH" value="tests/storage/" />
    <const name="BBN_APP_PREFIX" value="bbn-" />
    <const name="BBN_LIB_PATH" value="vendor" />
  </php>
</phpunit>