<button class="k-button"
        ref="element"
        @click.prevent="click($event)"
        @focus="focus($event)"
        @blur="blur($event)"
        @keydown="keydown($event)"
        @keyup="keyup($event)"
        @scroll="scroll($event)"
        @mouseenter="over($event)"
        @mouseleave="out($event)"
        :type="type"
        :disabled="disabled"
        :title="text && notext ? text : (title ? title : '')"
>
  <i v-if="icon" :class="icon"> </i>
  <span v-if="text && !notext" v-html="text"></span>
  <span v-else><slot></slot></span>
</button>