<form :action="action"
      :disabled="disabled"
      :method="method"
      :autocomplete="autocomplete"
      :class="['k-edit-form-container', 'bbn-flex-height', 'bbn-full-screen', componentClass]"
      @submit.prevent="submit"
>
  <div v-if="fixedFooter"
       class="bbn-w-100 bbn-flex-fill"
  >
    <bbn-scroll>
      <div class="bbn-grid-fields bbn-padded" v-if="schema && schema.length">
        <template v-for="field in schema"
                  v-if="field.field && !field.buttons && (field.editable !== false)"
        >
          <component v-if="field.lineComponent"
                     :is="field.lineComponent"
                     :source="source"
          ></component>
          <template v-else>
            <div v-html="field.title" :title="field.ftitle || field.title || field.field"></div>
            <component v-if="field.editor"
                       :is="field.editor"
                       v-model="source[field.field]"
            ></component>
            <bbn-field v-else
                       v-bind="field"
                       mode="write"
                       v-model="source[field.field]"
            ></bbn-field>
          </template>

        </template>
      </div>
      <slot></slot>
    </bbn-scroll>
  </div>
  <slot v-else></slot>
  <div class="footer bbn-footer k-header" v-if="hasFooter">
    <slot name="footer"></slot>
    <template v-for="(button, i) in realButtons">
      <bbn-button v-if="button.command === submit"
                  :style="{visibility: modified || prefilled ? 'visible' : 'hidden'}"
                  :key="i"
                  v-bind="button"
                  @click="submit()"
      ></bbn-button>
      <bbn-button v-else-if="button.command === reset"
                  :style="{visibility: modified || prefilled ? 'visible' : 'hidden'}"
                  :key="i"
                  @click="reset()"
      ></bbn-button>
      <bbn-button v-else-if="button.command === cancel"
                  :key="i"
                  v-bind="button"
                  @click="cancel()"
      ></bbn-button>
      <bbn-button v-else
                  :key="i"
                  v-bind="button"
                  @click="_execCommand(button, $event)"
      ></bbn-button>
    </template>
  </div>
</form>