<form :action="action"
      :disabled="disabled"
      :method="method"
      :autocomplete="autocomplete"
      class="bbn-form k-edit-form-container"
      @submit.prevent="submit"
>
  <div v-if="fixedFooter"
       class="bbn-w-100"
       v-bbn-fill-height
  >
    <bbn-scroll>
      <slot></slot>
    </bbn-scroll>
  </div>
  <slot v-else></slot>
  <div class="footer bbn-footer k-header" v-if="hasFooter">
    <slot name="footer"></slot>
    <template v-for="(button, i) in realButtons">
      <bbn-button v-if="button.command === submit"
                  :style="{visibility: modified ? 'visible' : 'hidden'}"
                  :key="i"
                  v-bind="button"
      ></bbn-button>
      <bbn-button v-else-if="button.command === reset"
                  :style="{visibility: modified ? 'visible' : 'hidden'}"
                  :key="i"
                  v-bind="button"
      ></bbn-button>
      <bbn-button v-else-if="button.command === cancel"
                  :key="i"
                  v-bind="button"
      ></bbn-button>
      <bbn-button v-else
                  :key="i"
                  v-bind="button"
      ></bbn-button>
    </template>
  </div>
</form>