# Database classes needs a real db connection to perform tests
# create a new file `.env.test` in the `tests` dir and fill it with the below
db_pass=
db_host=
db_user=
db_name=

pgsql_db_pass=
pgsql_db_host=
pgsql_db_user=
pgsql_db_name=