<div :class="[{'bbn-full-screen': true}, componentClass]"
     :style="{
       gridTemplateColumns: columnsCfg,
       gridTemplateRows: rowsCfg,
    }"
>
  <slot></slot>
  <div v-for="(rs, i) in resizers"
       :class="[realResizerClass(rs), 'bbn-middle', currentOrientation, 'resizer']"
       :style="{
          gridColumn: currentOrientation === 'horizontal' ? rs.position : 1,
          gridRow: currentOrientation === 'vertical' ? rs.position : 1,
        }"
  >
    <div>
      <i v-if="rs.pane1.obj.collapsible"
         :class="'bbn-p fa fa-angle-' + (
           rs.pane1.obj.collapsed ?
             (currentOrientation === 'horizontal' ? 'right' : 'down') :
             (currentOrientation === 'horizontal' ? 'left' : 'up')
         )"
         @click="collapse(i, rs.pane1)">
         </i>
      <i v-if="rs.pane2.obj.collapsible"
         :class="'bbn-p fa fa-' + (
           rs.pane2.obj.collapsed ?
             (currentOrientation === 'horizontal' ? 'angle-left' : 'angle-up') :
                ( rs.pane1.obj.collapsed ?
                  (currentOrientation === 'horizontal' ? 'double-angle-right' : 'double-angle-up') :
                  (currentOrientation === 'horizontal' ? 'angle-right' : 'angle-down')
                )
         )"
         @click="collapse(i, rs.pane2);">
      </i>
    </div>
  </div>
</div>