<div class="bbn-code bbn-100">
  <div class="bbn-100"
       ref="code"
       @focus="focus($event)"
       @blur="blur($event)"
       @keydown="keydown($event)"
       @keyup="keyup($event)"
       @mouseenter="over($event)"
       @mouseleave="out($event)"
       @scroll="scroll($event)"
  ></div>
  <input class="bbn-100"
         ref="element"
         type="hidden"
         :value="value"
         :name="name"
         :disabled="disabled"
         :required="required"
  >
  <div style="position: absolute; width: 25px; height: 25px"
       class="bbn-bg-black bbn-p bbn-middle"
       ref="theme_button"
  >
    <i class="fa fa-navicon"> </i>
  </div>
</div>