<div class="bbn-scroll">
  <div class="bbn-scroll-container"
       ref="scrollContainer"
       @scroll="$emit('scroll')"
  >
    <div class="bbn-block"
         ref="scrollContent"
         style="min-width: 100%; min-height: 100%"
    >
      <slot></slot>
    </div>
  </div>
  <bbn-scroll-x v-if="(axis === 'both') || (axis === 'x')"
                ref="xScroller"
                :scrollAlso="scrollAlso"
                :initial="x"
  >
  </bbn-scroll-x>
  <bbn-scroll-y v-if="(axis === 'both') || (axis === 'y')"
                ref="yScroller"
                :scrollAlso="scrollAlso"
                :initial="y"
  >
  </bbn-scroll-y>
</div>