.bbn-scroll {
  overflow: hidden;
  > .bbn-scroll-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: -18px;
    bottom: -18px;
    overflow: scroll;
    > .bbn-block.bbn-scroll-content{
      min-width: 100% !important;
      min-height: 100% !important;
    }
  }
}
