.bbn-scroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  > .bbn-scroll-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: -18px;
    bottom: -18px;
    overflow: scroll;
    > .bbn-block{

    }
  }
}
