<div :class="[{'bbn-full-screen': true}, componentClass]"
>
  <div class="bbn-scroll-container"
       ref="scrollContainer"
       @scroll="$emit('scroll', $event)"
  >
    <div class="bbn-block bbn-scroll-content"
         ref="scrollContent"
         @mousemove="$emit('mousemove', $event)"
    >
      <slot></slot>
    </div>
  </div>
  <bbn-scroll-x v-if="(axis === 'both') || (axis === 'x')"
                ref="xScroller"
                :scrollAlso="scrollAlso"
                :initial="x"
                @scroll="$emit('horizontal')"
  >
  </bbn-scroll-x>
  <bbn-scroll-y v-if="(axis === 'both') || (axis === 'y')"
                ref="yScroller"
                :scrollAlso="scrollAlso"
                :initial="y"
                @scroll="$emit('vertical')"
  >
  </bbn-scroll-y>
</div>