<div class="k-widget k-block bbn-treemenu">
  <div class="bbn-block bbn-w-100 bbn-vpadded bbn-c" v-if="search">
    <!--bbn-search name="search" style="width: 80%" ref="search" :placeholder="placeholder"></bbn-search-->
    <bbn-input name="search"
               style="width: 80%"
               ref="search"
               :placeholder="placeholder"
               @keyup="search($event.target.value)"></bbn-input>
  </div>
  <div class="bbn-w-100" v-bbn-fill-height>
    <bbn-tree :source="source"
              :autoload="false"
              :opened="true"
              ref="tree"
              @load="resizeScroll"
              @select="go"
    ></bbn-tree>
  </div>
</div>

