<div class="bbn-popup bbn-100" v-show="showPopup" :style="{zIndex: zIndex}">
  <div class="bbn-100">
    <transition name="fade"
                @after-leave="showPopup = false"
                @before-enter="showPopup = true"
    >
      <div class="k-overlay"
           v-if="popups.length"
           :style="{zIndex: zIndex + num - 1}"
      ></div>
    </transition>
    <transition-group name="custom-classes-transition"
                      enter-active-class="animated fadeIn"
                      leave-active-class="animated fadeOut"
    >
      <div class="k-widget k-window"
           v-for="(popup, i) in popups"
           :key="popup.ref"
           :style="{
             width: popup.width,
             height: popup.height,
             zIndex: zIndex + i
           }"
      >
        <div class="k-window-titlebar k-header" style="margin-top: -30px;">
           &nbsp;
          <span class="k-window-title" v-html="popup.title"></span>
          <div class="k-window-actions">
            <a role="button" href="#" class="k-window-action k-link" @click="close(i)">
              <span class="k-icon k-i-close"></span>
            </a>
          </div>
        </div>
        <div class="bbn-popup-div k-window-content k-content" tabindex="0">
          <component v-if="popup.component"
                     :is="popup.component"
                     :source="popup.source"
          ></component>
          <div class="bbn-100"
               v-else-if="popup.content"
               v-html="popup.content"
          ></div>
        </div>
      </div>
    </transition-group>
  </div>
</div>
