<div class="bbn-popup bbn-100" v-show="showPopup" :style="{zIndex: zIndex}">
  <div class="bbn-100">
    <transition name="fade"
                @after-leave="showPopup = false"
                @before-enter="showPopup = true"
    >
      <div class="k-overlay"
           v-if="popups.length"
           :style="{zIndex: zIndex + num - 1}"
      ></div>
    </transition>
    <transition-group name="custom-classes-transition"
                      enter-active-class="animated fadeIn"
                      leave-active-class="animated fadeOut"
                      tag="div"
                      class="bbn-100"
    >
      <div class="k-widget bbn-popup-unit"
           v-for="(popup, i) in popups"
           :key="popup.ref"
           :style="{
             width: popup.maximized ? '100%' : popup.width,
             height: popup.maximized ? '100%' : popup.height,
             zIndex: zIndex + i
           }"
      >
        <div class="k-header bbn-popup-title">
           &nbsp;
          <span v-html="popup.title"></span>
          <div class="bbn-popup-actions">
            <i :class="'zmdi zmdi-window-' + (popup.maximized ? 'restore' : 'maximize')"
               @click="popup.maximized = !popup.maximized; $forceUpdate(); center(i)"
               :title="_('Full screen')"
            ></i>
            <i class="fa fa-times"
               @click="close(i)"
               :title="_('Close')"
            ></i>
          </div>
        </div>
        <div class="bbn-w-100" v-bbn-fill-height tabindex="0">
          <component v-if="popup.component"
                     :is="popup.component"
                     :source="popup.source"
          ></component>
          <bbn-scroll v-else-if="popup.content"
          >
            <div class="bbn-block bbn-w-100" v-html="popup.content"></div>
          </bbn-scroll>
        </div>
      </div>
    </transition-group>
  </div>
</div>
