<transition name="custom-classes-transition"
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
>
  <div :class="componentClass"
       v-if="realContainer && (contentHeight > containerHeight)"
       v-show="show && height"
       @click="jump"
       ref="scrollRail"
       @mouseover="$emit('mouseover')"
       @mouseenter="inSlider"
       @mouseleave="outSlider"
  >
    <div class="bbn-scroll-slider"
         :style="{
           height: height + '%',
           top: top + '%'
         }"
         ref="scrollSlider"
         @touchstart.passive="startDrag"
         @mousedown="startDrag"
    ></div>
  </div>
</transition>