<div class="bbn-filter">
  <h3 v-if="first"
      v-html="_('Où les conditions suivantes sont vraies')"
  ></h3>
  <!-- List of the validated conditions -->
  <div class="bbn-form-full"
       v-for="(condition, idx) in conditions">
    <div :class="'bbn-filter-items bbn-filter-' + (concat_value === 'OU' ? 'or' : 'and')">
      <div class="bbn-filter-concat">
        <span v-if="idx"
              v-text="concat_value"
        ></span>
        <bbn-dropdown v-else
                      class="bbn-s"
                      :source="['ET', 'OU']"
                      v-model="concat_value"
                      name="concat"
                      style="max-width: 5em"
                      ref="concat"
        >
        </bbn-dropdown>
      </div>
      <div class="bbn-filter-main">
        <div v-if="condition.operator">
          <span v-html="condition_text(idx)"></span>
        </div>
        <bbn-filter v-else-if="conditions.concat"
                    :fields="fields"
                    :conditions="condition.conditions"
                    :concat="condition.concat"
                    :num="num + 1"
                    :idx="idx"
        ></bbn-filter>
      </div>
      <div class="bbn-filter-buttons">
        <bbn-button :title="_('Delete this condition')"
                    ref="minus"
                    @click="delete_condition(idx)"
                    style="margin-left: 2em">
          <i class="fa fa-minus"> </i>
        </bbn-button>
        <bbn-button :title="_('Add new condition')"
                    ref="plus"
                    @click="add_group(idx)"
                    v-show="!condition.conditions"
        >
          <i class="fa fa-plus"> </i>
        </bbn-button>
      </div>
    </div>
  </div>
  <!-- Form for a new condition -->
  <div class="bbn-form-full">
    <div :class="{
      'bbn-filter-bordered': hasFields(),
      'bbn-filter-items': true,
      'bbn-filter-temp': true,
      'bbn-filter-or': concat_value === 'OU',
      'bbn-filter-and': concat_value === 'ET',
    }">
      <!-- Showing the concat (AND/OR) if there are already conditions -->
      <div class="bbn-filter-concat"
           v-text="conditions.length ? concat_value : ''"
           v-if="multi"
      ></div>
      
      <div class="bbn-filter-main">
        <bbn-filter-form inline-template
                         :type="type"
                         :fields="fields"
                         :column="column"
                         :component="component"
        >
          <div class="bbn-w-100 bbn-filter-form">
            <!-- Condition creation line -->
            <div v-if="columns.length"
                 class="bbn-block bbn-hpadded bbn-db-column">
              <bbn-combo :source="columns"
                         v-model="currentColumn"
                         name="column[]"
                         :placeholder="_('Pick a column')"
                         ref="column"
              ></bbn-combo>
            </div>
            <div v-else-if="column"
                 class="bbn-block bbn-hpadded bbn-db-column"
                 v-html="currentColumn"
            ></div>
            <div class="bbn-block bbn-hpadded bbn-db-operator">
              <bbn-dropdown name="operator[]"
                            :disabled="!column"
                            v-model="operator"
                            :source="currentOperators"
                            ref="operator"
              ></bbn-dropdown>
            </div>
            <div :class="(no_value ? 'bbn-hidden ' : '') + 'bbn-block bbn-hpadded bbn-db-value'">
              <component v-if="type && (currentComponent !== 'bbn-')"
                         v-bind:is="currentComponent"
                         :disabled="no_value"
                         name="value"
                         v-model="value"
                         ref="value"
                         :cfg="cfg"
              ></component>
            </div>
            <div class="bbn-block bbn-hpadded bbn-db-column">
              <bbn-button :disabled="!operator"
                          @click="validate()"
                          title="Validate"
                          ref="check"
              >
                <i class="fa fa-check"> </i>
              </bbn-button>
            </div>
          </div>
        </bbn-filter-form>
      </div>
    </div>
  </div>
</div>