.bbn-loading{
  font-size: small;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  span{
    display: inline-block;
    height: 100%;
    line-height: 100%;
  }
  i{
    font-size: 16px;
  }
  /** loader */
  .content{
    padding-left: 2em;
  }
  .loader {
    margin-right: 0.2em
  }
}
