<span :class="[{'bbn-iblock': true}, componentClass]"
      tabindex="0"
>
  <input type="checkbox"
         :id="id"
         :name="name"
         :value="value"
         class="k-checkbox"
         :required="required"
         :disabled="disabled"
         @change="toggle"
         :checked="state"
         ref="element"
  >
  <label class="k-checkbox-label"
         :for="id"
         v-html="label"
         @focus="focus"
         @blur="blur"
         @keyup="keyup"
         @keydown.space="$refs.element.click()"
         @click="click"
  ></label>
</span>