<div class="bbn-dashboard bbn-full-screen">
  <bbn-scroll ref="scroll">
    <div :class="'bbn-masonry bbn-margin' + (sortable ? ' bbn-dashboard-sortable' : '')"
         ref="container"
    >
      <transition name="custom-classes-transition"
                  :duration="{enter: isRefreshing ? 0 : 500, leave: isRefreshing ? 0 : 500}"
                  v-for="(w, index) in widgets"
                  :key="w.key"
                  enter-active-class="animated zoomIn"
                  leave-active-class="animated zoomOut">
        <bbn-widget @close="hideWidget(w.key)"
                    v-if="!w.hidden"
                    @loaded="resizeScroll"
                    v-bind="w"
                    :uid="w.key"
                    :key="w.key"
                    :title="w.title ? w.title : (w.text ? w.text : '')"
        >
        </bbn-widget>
      </transition>
      <slot></slot>
    </div>
  </bbn-scroll>
</div>
