<div :class="{
       'bbn-tab': true,
       'k-content': true,
       'bbn-w-100': true,
       'bbn-tab-selected': !!selected
     }"
     v-bbn-fill-height
>
  <component v-if="isComponent"
             :is="name"
             :source="source"
  ></component>
  <component v-else-if="component"
             :is="component"
             :source="source"
             v-bind="componentAttributes"
  ></component>
  <bbn-scroll v-else>
    <div class="bbn-block" v-html="content"></div>
  </bbn-scroll>
  <component is="style" v-if="css" scoped="scoped" v-html="css"></component>
  <bbn-popup ref="popup" :source="popups"></bbn-popup>
</div>