<div :class="[{'bbn-full-screen': true}, componentClass]"
     @mousemove="checkFilterWindow"
>
  
  <div class="bbn-full-screen bbn-flex-height"
       v-if="cols.length && ready"
  >
    <div v-if="toolbar"
         class="k-header bbn-w-100"
         ref="toolbar"
         style="min-height: 30px"
    >
      <div v-if="toolbarButtons.length">
         <bbn-button v-for="(button, i) in toolbarButtons"
                     :key="i"
                     v-bind="button"
                     @click="_execCommand(button, i)"
         ></bbn-button>
      </div>
      <div v-else-if="typeof(toolbar) === 'function'"
           v-html="toolbar()"
      ></div>
      <component v-else
                 :is="toolbar"
      ></component>
    </div>
    
    <div class="bbn-table-container bbn-w-100 bbn-flex-fill bbn-flex-height">
      <!-- Titles part -->
      <div :class="{
        'bbn-table-titles': true,
        'bbn-table-titles-group': !!titleGroups
      }">
        <div class="bbn-full-screen bbn-flex-width">
          <!-- Fixed left titles -->
          <div class="bbn-table-part"
               :style="{width: tableLeftWidth + 'px'}"
               ref="fixedLeft"
               v-if="colsLeft.length"
          >
            <!-- Fixed columns' container on the left -->
            <table class="bbn-table-t" :style="{width: tableLeftWidth + 'px'}">
              <colgroup>
                <col v-for="(col, i) in colsLeft"
                     v-show="!col.hidden"
                     :style="_headStyles(col)"
                     :key="i"
                >
              </colgroup>
              <tbody>
              <tr v-if="titleGroups"
                  class="k-widget k-header"
              >
                <td v-for="col in titleGroupsCells('left')"
                    :colspan="col.colspan">
                  <component v-if="col.component"
                             :is="col.component"
                             :source="col"
                  ></component>
                  <div class="bbn-100 bbn-table-title-group" v-else>
                    <div :class="col.cls"
                         :style="col.style"
                         v-html="col.text"
                    ></div>
                  </div>
                </td>
              </tr>
              <!-- Fixed titles -->
              <tr class="k-widget k-header">
                <td v-for="(col, i) in colsLeft"
                    v-show="!col.hidden"
                    class="bbn-c"
                >
                  <i :class="{
                  fa: true,
                  'fa-filter': true,
                  'bbn-p': true,
                  'bbn-red': hasFilter(col)
                }"
                     v-if="filterable && (col.filterable !== false) && !col.buttons && col.field"
                     @click="showFilter(col, $event)"
                  ></i>
                  <component v-if="col.tcomponent"
                             :is="col.tcomponent"
                             :source="col"
                  ></component>
                  <a href="javascript:;"
                     class="k-link"
                     v-else-if="sortable && (col.sortable !== false) && !col.buttons"
                     @click="sort(col)"
                  >
                    <span v-if="col.encoded"
                          v-text="col.title"
                          :title="col.ftitle || col.title"
                    ></span>
                      <span v-else
                            v-html="col.title"
                            :title="col.ftitle || col.title"
                      ></span>
                  </a>
                  <span v-else>
                    <span v-if="col.encoded"
                          v-text="col.title"
                          :title="col.ftitle || col.title"
                    ></span>
                    <span v-else
                          v-html="col.title"
                          :title="col.ftitle || col.title"
                    ></span>
                  </span>
                  <i v-if="isSorted(col)"
                     :class="{
                   'bbn-table-sortable-icon': true,
                   fa: true,
                   'fa-caret-up': isSorted(col).dir === 'ASC',
                   'fa-caret-down': isSorted(col).dir === 'DESC',
                 }"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
  
          <!-- Main titles -->
          <div class="bbn-table-part bbn-flex-fill"
               style="overflow: hidden"
               ref="mainTitles"
          >
            <!-- Non fixed titles -->
            <table class="bbn-table-t" :style="{width: tableMainWidth + 'px'}">
              <colgroup>
                <col v-for="(col, i) in colsMain"
                     v-show="!col.hidden"
                     :style="_headStyles(col)"
                     :key="i"
                >
              </colgroup>
              <tbody>
              <tr v-if="titleGroups"
                  class="k-widget k-header"
              >
                <td v-for="col in titleGroupsCells()"
                    :colspan="col.colspan"
                    :class="col.cls"
                    :style="col.style"
                    ref="titleGroup"
                >
                  <component v-if="col.component"
                             :is="col.component"
                             :source="col"
                  ></component>
                  <div v-else>
                    <span v-html="col.text"
                          class="bbn-table-title-group bbn-xl"
                          :title="col.text"
                    ></span>
                  </div>
                </td>
              </tr>
              <tr class="k-widget k-header">
                <td v-for="(col, i) in colsMain"
                    v-show="!col.hidden"
                    class="bbn-c"
                >
                  <i :class="{
                  fa: true,
                  'fa-filter': true,
                  'bbn-p': true,
                  'bbn-red': hasFilter(col)
                }"
                     v-if="filterable && (col.filterable !== false) && !col.buttons && col.field"
                     @click="showFilter(col, $event)"
                  ></i>
                  <component v-if="col.tcomponent"
                             :is="col.tcomponent"
                             :source="col"
                  ></component>
                  <a href="javascript:;"
                     class="k-link"
                     v-else-if="sortable && (col.sortable !== false) && !col.buttons"
                     @click="sort(col)"
                  >
                  <span v-if="col.encoded"
                        v-text="col.title"
                        :title="col.ftitle || col.title"
                  ></span>
                    <span v-else
                          v-html="col.title"
                          :title="col.ftitle || col.title"
                    ></span>
                  </a>
                  <span v-else>
                  <span v-if="col.encoded"
                        v-text="col.title"
                        :title="col.ftitle || col.title"
                  ></span>
                  <span v-else
                        v-html="col.title"
                        :title="col.ftitle || col.title"
                  ></span>
                </span>
                  <i v-if="isSorted(col)"
                     :class="{
                   'bbn-table-sortable-icon': true,
                   fa: true,
                   'fa-caret-up': isSorted(col).dir === 'ASC',
                   'fa-caret-down': isSorted(col).dir === 'DESC',
                 }"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
  
          <!-- Fixed right titles -->
          <div class="bbn-table-part"
               :style="{width: tableRightWidth + 'px'}"
               ref="fixedRight"
               v-if="colsRight.length"
          >
            <!-- Fixed titles -->
            <table class="bbn-table-t" :style="{width: tableRightWidth + 'px'}">
              <colgroup>
                <col v-for="(col, i) in colsRight"
                     v-show="!col.hidden"
                     :style="_headStyles(col)"
                     :key="i"
                >
              </colgroup>
              <tbody>
              <tr v-if="titleGroups"
                  class="k-widget k-header"
              >
                <td v-for="col in titleGroupsCells('right')"
                    :colspan="col.colspan">
                  <component v-if="col.component"
                             :is="col.component"
                             :source="col"
                  ></component>
                  <div class="bbn-100 bbn-table-title-group" v-else>
                    <div :class="col.cls"
                         :style="col.style"
                         v-html="col.text"
                    ></div>
                  </div>
                </td>
              </tr>
              <tr class="k-widget k-header">
                <td v-for="(col, i) in colsRight"
                    v-show="!col.hidden"
                    class="bbn-c"
                >
                  <i :class="{
                  fa: true,
                  'fa-filter': true,
                  'bbn-p': true,
                  'bbn-red': hasFilter(col)
                }"
                     v-if="filterable && (col.filterable !== false) && !col.buttons && col.field"
                     @click="showFilter(col, $event)"
                  ></i>
                  <component v-if="col.tcomponent"
                             :is="col.tcomponent"
                             :source="col"
                  ></component>
                  <a href="javascript:;"
                     class="k-link"
                     v-else-if="sortable && (col.sortable !== false) && !col.buttons"
                     @click="sort(i)"
                  >
                  <span v-if="col.encoded"
                        v-text="col.title"
                        :title="col.ftitle || col.title"
                  ></span>
                    <span v-else
                          v-html="col.title"
                          :title="col.ftitle || col.title"
                    ></span>
                  </a>
                  <span v-else>
                  <span v-if="col.encoded"
                        v-text="col.title"
                        :title="col.ftitle || col.title"
                  ></span>
                  <span v-else
                        v-html="col.title"
                        :title="col.ftitle || col.title"
                  ></span>
                </span>
                  <i v-if="sortable && (col.sortable !== false) && !col.buttons && order && col.field && currentOrder[col.field]"
                     :class="{
                   'bbn-table-sortable-icon': true,
                   fa: true,
                   'fa-caret-up': currentOrder[col.field] === 'ASC',
                   'fa-caret-down': currentOrder[col.field] === 'DESC',
                 }"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <!-- Data part -->
      <div class="bbn-table-data bbn-flex-fill">
        <div class="bbn-full-screen bbn-flex-width">
          <!-- Fixed left data + expanders -->
          <div class="bbn-table-part"
               v-if="colsLeft.length"
               ref="fixedLeftData"
               :style="{width: tableLeftWidth + 'px'}"
          >
            <!-- Fixed data -->
            <bbn-scroll ref="leftScroller"
                        axis="none"
                        :scroll-also="dataScrollContents"
            >
              <h3 v-if="isLoading"> </h3>
              <table v-else-if="currentData.length"
                     class="bbn-table-data-left bbn-table-t"
                     :style="{width: tableLeftWidth + 'px'}"
              >
                <colgroup>
                  <col v-for="(col, i) in colsLeft"
                       v-show="!col.hidden"
                       :style="_headStyles(col)"
                       :key="i"
                  >
                </colgroup>
                <tbody>
                <tr v-for="(d, i) in currentSet"
                    v-if="d.group || d.expander || isExpanded(d) || d.aggregated"
                    :key="i"
                    :index="d.index"
                    @mouseenter="_overTr(d.index)"
                    @mouseleave="_overTr(d.index, true)"
                    :class="'k-widget' + (trClass ? ' ' + trClass(d.data) : '') + (d.index % 2 ? ' k-alt' : '') + (d.aggregated || d.groupAggregated ? ' k-header' : '') + (currentOverTr === d.index ? ' k-state-hover' : '')"
                >
                  <td v-if="selection" :colspan="d.expansion ? colsLeft.length : 1">
                    <bbn-checkbox v-if="!d.expansion && ((typeof(selection) !== 'function') || selection(d))"
                                  :value="d.index"
                                  :checked="isSelected(d.index)"
                                  @change="checkSelection(d.index)"
                                  :disabled="!!editedRow"
                    ></bbn-checkbox>
                  </td>
                  <td v-if="d.group || d.expander">
                    <i :class="'bbn-p fa fa-caret-' + (isExpanded(d) ? 'down' : 'right')"
                       @click="toggleExpanded(d.index)"
                    ></i>
                  </td>
                  <td v-if="d.group && (colsLeft.length > 1)" :colspan="numLeftVisible - (selection ? 1 : 2)">
                  
                  </td>
                  <td v-else-if="d.expansion && !selection" :colspan="numLeftVisible">
                    &nbsp;
                  </td>
                  <td v-for="(col, j) in colsLeft"
                      v-if="hasTd(d, j)"
                      v-show="!col.hidden"
                      :style="_bodyStyles(col)"
                      :key="j"
                      :class="col.cls"
                  >
                    <div v-if="editable && d.isTmp"
                         :style="{
                        height: editMode === 'inline' ? '200px' : 'auto'
                       }"
                    >
                      <div v-if="(editMode === 'inline') && (col.index === colButtons)">
                        <bbn-button :text="_('Save')"
                                    :disabled="!isTmpValid"
                                    icon="fa fa-save"
                                    :notext="true"
                                    @click="save"
                        ></bbn-button>
                        <bbn-button :text="_('Cancel')"
                                    icon="fa fa-times"
                                    :notext="true"
                                    @click="cancel"
                        ></bbn-button>
                      </div>
                      <component v-else-if="(editMode === 'inline') && col.field && (col.editable !== false)"
                                 v-bind="getEditableOptions(col, d.data)"
                                 :is="getEditableComponent(col, d.data)"
                                 v-model="currentData[d.index][col.field]"
                                 style="width: 100%"
                      ></component>
                      <div v-else-if="!col.buttons" v-html="render(d.data, col, d.index)"></div>
                      <div v-else> </div>
                    </div>
                    <div v-else-if="d.aggregated && ((colsLeft[j+1] && (colsLeft[j+1].field === isAggregated)) || (colsMain[0] && (colsMain[0].field === isAggregated)))"
                         class="bbn-b"
                         v-html="aggregateExp[d.name]"
                    ></div>
                    <div v-else-if="d.aggregated && (col.field !== isAggregated)"> </div>
                    <div v-else-if="d.groupAggregated && ((colsLeft[j+1] && (colsLeft[j+1].field === isAggregated)) || (colsMain[0] && (colsMain[0].field === isAggregated)))"
                         class="bbn-b"
                         v-html="aggregateExp[d.name]"
                    ></div>
                    <div v-else-if="d.groupAggregated && (col.field !== isAggregated)"> </div>
                    <component v-else-if="col.component"
                               v-bind="col.options"
                               :is="col.component"
                               :source="col.mapper ? col.mapper(d.data) : d.data"
                    ></component>
                    <div v-else-if="col.buttons">
                      <bbn-button v-for="(button, j) in (Array.isArray(col.buttons) ? col.buttons : col.buttons(d.data, col, d.index))"
                                  :key="j"
                                  v-bind="button"
                                  @click="_execCommand(button, d.data, col, d.index)"
                      ></bbn-button>
                    </div>
                    <div v-else v-html="render(d.data, col, d.index)"></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </bbn-scroll>
          </div>
  
          <!-- Main data -->
          <div class="bbn-table-part bbn-flex-fill">
            <!-- Table container with yScrolling -->
            <bbn-scroll axis="x"
                        ref="scroller"
                        :scroll-also="[$refs.mainTitles]"
                        @scroll="_checkHeaders"
            >
              <!-- Loading message -->
              <h3 v-if="isLoading"
                  class="bbn-lpadded"
                  v-html="_('Loading...')"
              ></h3>
              <div class="bbn-block"
                   v-else-if="currentData.length"
                   ref="mainData">
                <!-- Damn table -->
                <table class="bbn-table-main bbn-table-t"
                       :style="{width: tableMainWidth + 'px'}"
                >
                  <!-- Columns -->
                  <colgroup>
                    <col v-for="(col, i) in colsMain"
                         v-show="!col.hidden"
                         :style="_headStyles(col)"
                         :key="i"
                    >
                  </colgroup>
                  <tbody>
                  <tr v-for="(d, i) in currentSet"
                      v-if="d.group || d.expander || isExpanded(d) || d.aggregated || (isExpanded(d) && d.groupAggregated)"
                      :key="i"
                      :index="d.index"
                      @mouseenter="_overTr(d.index)"
                      @mouseleave="_overTr(d.index, true)"
                      :class="'k-widget' + (trClass ? ' ' + trClass(d.data) : '') + (d.index % 2 ? ' k-alt' : '') + (d.aggregated || d.groupAggregated ? ' k-header' : '') + (currentOverTr === d.index ? ' k-state-hover' : '')"
                  >
                    <!-- Checkboxes -->
                    <td v-if="!colsLeft.length && selection">
                      <bbn-checkbox v-if="(typeof(selection) !== 'function') || selection(d)"
                                    v-model="d.selected"
                                    :value="d.index"
                                    @change="checkSelection(d.index)"
                      ></bbn-checkbox>
                    </td>
                    <td v-if="d.group" :colspan="numMainVisible">
                      <component v-if="cols[group].component"
                                 :is="cols[group].component"
                                 :source="d.data"
                      ></component>
                      <div v-else v-html="render(d.data, cols[group], d.index) + ' (' + d.num + ')'"></div>
                    </td>
                    <td v-else-if="d.expansion" :colspan="numMainVisible">
                      <component v-if="typeof(expander) !== 'function'"
                                 :is="expander"
                                 :source="d.data"
                      ></component>
                      <div v-else v-html="expander(d.data, d.index)"></div>
                    </td>
                    <td v-for="(col, j) in colsMain"
                        v-if="hasTd(d, colsLeft.length + j)"
                        v-show="!col.hidden"
                        :style="_bodyStyles(col)"
                        :class="col.cls"
                        :key="j"
                    >
                      <div v-if="editable && d.isTmp"
                           :style="{
                        height: editMode === 'inline' ? '200px' : 'auto'
                       }"
                      >
                        <div v-if="(editMode === 'inline') && (col.index === colButtons)">
                          <bbn-button :text="_('Save')"
                                      :disabled="!isTmpValid"
                                      icon="fa fa-save"
                                      :notext="true"
                                      @click="save"
                          ></bbn-button>
                          <bbn-button :text="_('Cancel')"
                                      icon="fa fa-times"
                                      :notext="true"
                                      @click="cancel"
                          ></bbn-button>
                        </div>
                        <component v-else-if="(editMode === 'inline') && col.field && (col.editable !== false)"
                                   v-bind="getEditableOptions(col, d.data)"
                                   :is="getEditableComponent(col, d.data)"
                                   v-model="currentData[d.index][col.field]"
                                   style="width: 100%"
                        ></component>
                        <div v-else-if="!col.buttons" v-html="render(d.data, col, d.index)"></div>
                        <div v-else> </div>
                      </div>
                      <div v-else-if="d.aggregated && colsMain[j+1] && (colsMain[j+1].field === isAggregated)"
                           class="bbn-b"
                           v-html="aggregateExp[d.name]"
                      ></div>
                      <div v-else-if="d.aggregated && ((colsMain[j+1] && (colsMain[j+1].field === isAggregated)) || (colsRight[0] && (colsRight[0].field === isAggregated)))"
                           class="bbn-b"
                           v-html="aggregateExp[d.name]"
                      ></div>
                      <div v-else-if="d.aggregated && (col.field !== isAggregated)"> </div>
                      <div v-else-if="d.groupAggregated && ((colsMain[j+1] && (colsMain[j+1].field === isAggregated)) || (colsRight[0] && (colsRight[0].field === isAggregated)))"
                           class="bbn-b"
                           v-html="aggregateExp[d.name]"
                      ></div>
                      <div v-else-if="d.groupAggregated && (col.field !== isAggregated)"> </div>
                      <component v-else-if="col.component"
                                 :is="col.component"
                                 :source="col.mapper ? col.mapper(d.data) : d.data"
                                 v-bind="col.options"
                      ></component>
                      <div v-else-if="col.buttons">
                        <bbn-button v-for="(button, j) in (Array.isArray(col.buttons) ? col.buttons : col.buttons(d.data, col, d.index))"
                                    :key="j"
                                    v-bind="button"
                                    @click="_execCommand(button, d.data, col, d.index)"
                        ></bbn-button>
                      </div>
                      <div v-else v-html="render(d.data, col, d.index)"></div>
                    </td>
                    <td v-if="d.expanded" :colspan="numMainVisible">Expander</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <h2 v-else
                  class="bbn-middle"
                  v-html="_('No data')"
              ></h2>
            </bbn-scroll>
          </div>
  
          <!-- Fixed right data -->
          <div class="bbn-table-part"
               v-if="colsRight.length"
               :style="{width: tableRightWidth + 'px'}"
               ref="fixedRightData"
          >
            <!-- Fixed data -->
            <bbn-scroll ref="rightScroller"
                        :scroll-also="dataScrollContents"
                        axis="none"
            >
              <h3 v-if="isLoading"> </h3>
              <table v-else-if="currentData.length"
                     class="bbn-table-data-right bbn-table-t"
                     :style="{width: tableRightWidth + 'px'}"
              >
                <colgroup>
                  <col v-for="(col, i) in colsRight"
                       v-show="!col.hidden"
                       :style="_headStyles(col)"
                       :key="i"
                  >
                </colgroup>
                <tbody>
                <tr v-for="(d, i) in currentSet"
                    v-if="d.group || d.expander || isExpanded(d) || d.aggregated"
                    :key="i"
                    :class="'k-widget' + (trClass ? ' ' + trClass(d.data) : '') + (d.index % 2 ? ' k-alt' : '') + (d.aggregated || d.groupAggregated ? ' k-header' : '') + (currentOverTr === d.index ? ' k-state-hover' : '')"
                    :index="d.index"
                    @mouseenter="_overTr(d.index)"
                    @mouseleave="_overTr(d.index, true)"
                >
                  <td v-if="d.group || d.expansion" :colspan="numRightVisible">
                    &nbsp;
                  </td>
                  <td v-for="(col, j) in colsRight"
                      v-if="hasTd(d, colsLeft.length + colsMain.length + j)"
                      v-show="!col.hidden"
                      :style="_bodyStyles(col)"
                      :class="col.cls"
                      :key="j"
                  >
                    <div v-if="editable && d.isTmp"
                         :style="{
                        height: editMode === 'inline' ? '200px' : 'auto'
                       }"
                    >
                      <div v-if="(editMode === 'inline') && (col.index === colButtons)">
                        <bbn-button :text="_('Save')"
                                    :disabled="!isTmpValid"
                                    icon="fa fa-save"
                                    :notext="true"
                                    @click="save"
                        ></bbn-button>
                        <bbn-button :text="_('Cancel')"
                                    icon="fa fa-times"
                                    :notext="true"
                                    @click="cancel"
                        ></bbn-button>
                      </div>
                      <component v-else-if="(editMode === 'inline') && col.field && (col.editable !== false)"
                                 v-bind="getEditableOptions(col, d.data)"
                                 :is="getEditableComponent(col, d.data)"
                                 v-model="currentData[d.index][col.field]"
                                 style="width: 100%"
                      ></component>
                      <div v-else-if="!col.buttons" v-html="render(d.data, col, d.index)"></div>
                      <div v-else> </div>
                    </div>
                    <div v-else-if="d.aggregated && colsRight[j+1] && (colsRight[j+1].field === isAggregated)"
                         class="bbn-b"
                         v-html="aggregateExp[d.name]"
                    ></div>
                    <div v-else-if="d.aggregated && (col.field !== isAggregated)"> </div>
                    <div v-else-if="d.groupAggregated && colsRight[j+1] && (colsRight[j+1].field === isAggregated)"
                         class="bbn-b"
                         v-html="aggregateExp[d.name]"
                    ></div>
                    <div v-else-if="d.groupAggregated && (col.field !== isAggregated)"> </div>
                    <component v-else-if="col.component"
                               v-bind="col.options"
                               :is="col.component"
                               :source="col.mapper ? col.mapper(d.data) : d.data"
                    ></component>
                    <div v-else-if="col.buttons">
                      <bbn-button v-for="(button, j) in (Array.isArray(col.buttons) ? col.buttons : col.buttons(d.data, col, d.index))"
                                  :key="j"
                                  v-bind="button"
                                  @click="_execCommand(button, d.data, col, d.index)"
                      ></bbn-button>
                    </div>
                    <div v-else v-html="render(d, col, i)"></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </bbn-scroll>
          </div>
  
          <!-- Right vertical scroller -->
          <bbn-scroll-y v-if="currentData.length"
                        ref="scrollerY"
                        :scroller="$refs.scroller"
                        :scroll-also="dataScrollContents"
                        :hidden="hiddenScroll"
          ></bbn-scroll-y>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <div class="bbn-table-footer k-grid-pager k-widget k-floatwrap"
         v-if="pageable || savable || filterable || isAjax || showable"
    >
      <div class="bbn-block"
           v-if="pageable"
      >
        <bbn-button icon="fa fa-angle-double-left"
                    :notext="true"
                    :title="_('Go to the first page')"
                    :disabled="isLoading || (currentPage == 1)"
                    @click="currentPage = 1"
        ></bbn-button>
        <bbn-button icon="fa fa-angle-left"
                    :notext="true"
                    :title="_('Go to the previous page')"
                    :disabled="isLoading || (currentPage == 1)"
                    @click="currentPage--"
        ></bbn-button>
        <Page
        <bbn-numeric v-if="currentData.length"
                     v-model="currentPage"
                     :min="1"
                     :max="numPages"
                     style="margin-right: 0.5em; width: 6em"
                     :disabled="isLoading"
        ></bbn-numeric>
        de {{numPages}}
        <bbn-button icon="fa fa-angle-right"
                    :notext="true"
                    :title="_('Go to the next page')"
                    :disabled="isLoading || (currentPage == numPages)"
                    @click="currentPage++"
        ></bbn-button>
        <bbn-button icon="fa fa-angle-double-right"
                    :notext="true"
                    :title="_('Go to the last page')"
                    @click="currentPage = numPages"
                    :disabled="isLoading || (currentPage == numPages)"
        ></bbn-button>
        <span class="k-pager-sizes k-label">
          <bbn-dropdown :source="limits"
                        v-model.number="currentLimit"
                        @change="currentPage = 1"
                        :disabled="!!isLoading"
          ></bbn-dropdown>
          <span>articles par page</span>
        </span>
      </div>
      <div class="bbn-block" style="float: right">
        <span v-if="pageable"
              v-text="_('Display items') + ' ' + (start+1) + '-' + (start + currentLimit > total ? total : start + currentLimit) + ' ' + _('of') + ' ' + total"
        ></span>
        <span v-else
              v-text="total ? _('Total') + ': ' + total + ' ' + _('items') : _('No item')"
        ></span>
        &nbsp;
        <bbn-button v-if="savable"
                    :disabled="isSaved"
                    :title="_('Save current configuration')"
                    @click="$emit('save', currentConfig)"
                    icon="fa fa-save"
        ></bbn-button>
        <bbn-button v-if="filterable || showable"
                    :disabled="!isChanged"
                    :title="_('Reset to original configuration')"
                    @click="reset"
                    icon="zmdi zmdi-time-restore-setting"
        ></bbn-button>
        <bbn-button v-if="showable"
                    :title="_('Columns\' picker')"
                    @click="openColumnsPicker"
                    icon="fa fa-columns"
        ></bbn-button>
        <bbn-button v-if="filterable && multifilter"
                    :title="_('Multi Filter')"
                    :class="{'bbn-red': currentFilters && currentFilters.conditions.length ? true : false}"
                    @click="openMultiFilter"
                    icon="zmdi zmdi-filter-list"
        ></bbn-button>
        <bbn-button v-if="isAjax"
                    :title="_('Refresh')"
                    @click="updateData"
                    icon="fa fa-refresh"
        ></bbn-button>
      </div>
      
    </div>
  </div>
  <div v-if="currentFilter"
       class="bbn-table-floating-filter k-widget"
       :style="{
        left: floatingFilterX + 'px',
        top: floatingFilterY + 'px'
       }"
  >
    <bbn-filter v-bind="getFilterOptions()"
                @set="onSetFilter"
                @unset="onUnsetFilter"
    ></bbn-filter>
  </div>
</div>