.bbn-table{
  height: 100%;
  border: 0;

  table.dataTable tbody tr{
    background-color: inherit;
  }
  div.dataTables_scrollHead.ui-state-default{
    background-color: inherit;
    div.dataTables_scrollHeadInner{
      background-color: inherit;
    }
  }
  .bbn-table-toolbar{
    margin-right: 1em;
    float: left;
  }
}