ul.bbn-tree-helper{
	position: absolute;
	z-index: 1000;
	opacity: 0.7;
	list-style: none;
	padding: 0;
	margin: 0;
	&.bbn-tree-child {
		padding-left: 16px;
	}
	li{
		position: relative;
	}
}
.bbn-tree {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	height: 100%;
	list-style: none;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		&.bbn-tree-child {
			padding-left: 16px;
		}
	}
	.bbn-tree-toggle-enter-active, .bbn-tree-toggle-leave-active{
		transition: max-height 0.3s;
		max-height: 500px;
	}
	.bbn-tree-toggle-enter, .bbn-tree-toggle-leave-to{
		max-height: 0;
	}
	.bbn-tree-node{
		clear: both;
		margin: 0;
		box-sizing: content-box;
		span.node{
			display: inline-block;
			white-space: nowrap;
			height: auto;
			min-height: 18px;
			&.dropping{
				background-color: green;
				color: white;
			}
			&.no-component{
				span{
					height: 100%;
					display: inline-block;
				}
				.selectable{
					cursor: pointer;
					padding: 1px;
				}
				.expander{
					width: 18px;
					i{
						cursor: pointer;
					}
				}
				.icon{
					width: 18px;
					i{
						font-size: 18px;
					}
				}
				.title{
					padding-left: 0.3em;
					white-space: nowrap;
				}
			}
		}
		&.selected > span.node > span > span.selectable{
			border: 1px solid blue;
			padding: 0;
			background-color: blue;
			color: white;
		}
		&.active > span.node > span > span.selectable{
			border: 1px dotted #CCC !important;
			padding: 0;
			color: white;
		}
	}
}
