<div :class="componentClass" v-on="isRoot ? {keydown:keyNav} : {}">

  <div class="loader" v-if="loading">
    Loading...
  </div>
  
  <component v-else-if="isLoaded"
             :is="isRoot ? 'bbn-scroll' : 'div'"
             ref="scroll"
  >
    <transition name="bbn-tree-toggle"
                @after-enter="onOpen"
                @after-leave="onClose"
    >
      <ul v-show="items.length && (isRoot || $parent.isExpanded)"
          :class="{
          'bbn-tree-child': !!level,
          root: isRoot
        }"
      >
        <bbn-tree-node inline-template
                       v-for="(it, i) in items"
                       :text="it.text"
                       :key="i"
                       :idx="i"
                       :data="toData(it)"
                       :cls="it.cls"
                       :icon="it.icon"
                       :expanded="it.expanded"
                       :selectable="it.selectable === undefined ? true : it.selectable"
                       :selected="it.selected"
                       :num="it.num"
                       :source="it.items ? it.items : []"
                       :level="level"
                       :filter-string="tree.filterString"
        >
          <li :class="{
                       'bbn-tree-node': true,
                       'bbn-unselectable': true,
                       selected: isSelected,
                       active: isActive
                      }"
              v-show="isMatch || numMatches"
          >
            <span :class="'node' + (component ? '' : ' no-component') + (cls ? ' ' + cls : '')"
                  @mouseover.stop="mouseOver"
            >
              <span class="expander">
                <!-- If there are no children we leave the white space -->
                <span v-if="!numChildren || (level < tree.minExpandLevel)"> </span>
                <i v-else-if="isExpanded"
                   class="fa fa-caret-down"
                   @click="isExpanded = false"
                ></i>
                <i v-else
                   class="fa fa-caret-right"
                   @click="isExpanded = true"
                   @mouseover="if ( tree.dragging ){ isExpanded = true; }"
                ></i>
              </span>
              <component v-if="component"
                         :is="component"
                         :source="data"
              ></component>
              <bbn-context v-else
                           :context="true"
                           :source="getMenu"
              >
                <span class="selectable"
                      @mousedown.left="if(tree.draggable){startDrag($event);}"
                      @mouseup.left="if(!tree.realDragging && selectable){isSelected = !isSelected}"
                      tabindex="0"
                >
                  <span class="icon">
                    <!-- If icon is specifically false we leave the white space -->
                    <span v-if="icon === false"></span>
                    <i v-else-if="icon"
                       :class="icon"
                       :style="iconStyle"
                    ></i>
                    <i v-else-if="numChildren"
                       class="zmdi zmdi-folder-outline"
                       :style="iconStyle"
                    ></i>
                    <i v-else
                       class="fa fa-file"
                       :style="iconStyle"
                    ></i>
                  </span>
                  <span class="title">
                    <span v-html="text"></span>
                  </span>
                </span>
              </bbn-context>
            </span>
            <bbn-tree v-if="numChildren"
                      ref="tree"
                      :num="numChildren"
                      :source="items"
                      :level="level + 1"
            >
            </bbn-tree>
          </li>
        </bbn-tree-node>
      </ul>
    </transition>
    <div class="bbn-tree-helper-container"
         v-if="draggable && isRoot"
         ref="helperContainer">
      <ul class="bbn-tree-helper"
          ref="helper"
          v-show="!!tree.realDragging"
      ></ul>
    </div>
  </component>
  <h2 v-else-if="isRoot"
      v-html="_('No items...')"
  ></h2>
</div>
